{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Stock詳細 | Private Stock{% endblock %}

{% block active_stock_list %}active{% endblock %}


{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <div class="col-1">Symbol</div>
        <div class="col-2">Name</div>
        <div class="col-1">LeavesQty</div>
        <div class="col-1">Price</div>
        <div class="col-1">CurrentPrice</div>
        <div class="col-1">Valuation</div>
        <div class="col-1">ProfitLoss</div>
        <div class="col-1">ProfitLossRate</div>
        <div class="col-1">Holding</div>
    </div>
    <div class="row">
        <div class="col-1">{{ object.symbol }}</div>
        <div class="col-2">{{ object.symbolDisp }}</div>
        <div class="col-1">{{ object.leavesqty | intcomma }}</div>
        <div class="col-1">{{ object.price | intcomma }}</div>
        <div class="col-1">{{ object.currentprice | intcomma }}</div>
        <div class="col-1">{{ object.Valuation | intcomma }}</div>
        <div class="col-1">{{ object.profitloss|intcomma }}</div>
        <div class="col-1">{{ object.profitlossrate|floatformat }}</div>
        <div class="col-1">{{ object.holding }}</div>
    </div>
    <hr>

    <div class="row">
        <div class="col-3">
            <strong>Comments</strong>
        </div>
        <div class="col-9">
            {{ object.comment|linebreaksbr }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-2">
            <form action="" method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="col-1">
            <a class="btn btn-success mt-5 mb-3" href="{% url 'stock:stock_detail_pre' object.pk %}">Pre</a>
        </div>
        <div class="col-9">
            <img src='{% url 'stock:plot' object.pk %}' width=600 height=400>
        </div>
        <div class="col-1">
            <a class="btn btn-success mt-5 mb-3" href="{% url 'stock:stock_detail_post' object.pk %}">Next</a>
        </div>
     </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>作成日時</strong>
        </div>
        <div class="col-9">
            {{ object.created_at }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-3">
            <strong>更新日時</strong>
        </div>
        <div class="col-9">
            {{ object.updated_at }}
        </div>
    </div>


    <!-- ページネーション処理 -->
{#    {% if is_paginated %}#}
{#    <ul class="pagination">#}
{#        <!-- 前ページへのリンク -->#}
{#        {% if page_obj.has_previous %}#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">#}
{#                <span aria-hidden="true">&laquo;</span>#}
{#            </a>#}
{#        </li>#}
{#        {% endif %}#}
{##}
{#        <!-- ページ数表示 -->#}
{#        {% for page_num in page_obj.paginator.page_range %}#}
{#        {% if page_obj.number == page_num %}#}
{#        <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>#}
{#        {% else %}#}
{#        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>#}
{#        {% endif %}#}
{#        {% endfor %}#}
{##}
{#        <!-- 次ページへのリンク -->#}
{#        {% if page_obj.has_next %}#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="?page={{ page_obj.next_page_number }}">#}
{#                <span aria-hidden="true">&raquo;</span>#}
{#            </a>#}
{#        </li>#}
{#        {% endif %}#}
{#    </ul>#}
{#    {% endif %}#}
    <a class="btn btn-success mt-5 mb-3" href="{% url 'stock:stock_update' object.pk %}">編集</a>
    <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'stock:stock_delete' object.pk %}">削除</a>
</div>
{% endblock %}