{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}TRADE一覧 | Private Equity{% endblock %}

{% block active_trade_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container px-4 px-lg-5 my-div-style">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-6 col-sm-2 "></div>
        <div class="col-md-2 col-sm-2 ">
            <a class="btn btn-primary float-right" href="{% url 'stock:trade_delete' %}">Delete All</a>
        </div>
        <div class="col-md-2 col-sm-2 ">
            <a class="btn btn-primary float-right" href="{% url 'stock:trade_import' %}">Import</a>
        </div>
{#        <div class="col-md-2 col-sm-2 ">#}
{#            <a class="btn btn-primary float-right" href="{% url 'stock:trade_export' %}">Export</a>#}
{#        </div>#}
        <table class="table">
          <thead>
            <tr>

              <th>ExecutionDay</th>
              <th>Symbol</th>
              <th>SymbolName</th>
                <th>Qty</th>
                <th>Price</th>
                <th>CurrentPrice</th>
                <th>Valuation</th>
                <th>ProfitLoss</th>
            </tr>
          </thead>
          <tbody>
            {% for trade in trade_list %}
              <tr>
                  <td>{{ trade.ExecutionDay }}</td>
                  <td>{{ trade.Symbol }}</td>
                  <td>{{ trade.SymbolName }}</td>
                  <td>{{ trade.Qty | intcomma}}</td>
                  <td>{{ trade.Price | intcomma}}</td>
                  <td>{{ trade.CurrentPrice | intcomma}}</td>
                  <td>{{ trade.Valuation | intcomma }}</td>
                  <td>{{ trade.ProfitLoss }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <!-- ページネーション処理 -->
        {% if is_paginated %}
        <ul class="pagination">
            <!-- 前ページへのリンク -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <!-- ページ数表示 -->
            {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
            {% endfor %}

            <!-- 次ページへのリンク -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}

    </div>
</div>
{% endblock %}